In [2]:
import pandas as pd
# comment to dev ---

In [8]:
df = pd.DataFrame({
    'a':[2,4,6,3,2,4],
    'b':['eins','zwei','drei','vier','f√ºnf','sechs']
    })

df['rank'] = df['a'].rank(method='first', ascending=False)

df[['a','rank']].sort_values('a')

   a  rank
0  2   5.0
4  2   6.0
3  3   4.0
1  4   2.0
5  4   3.0
2  6   1.0

In [4]:
df['a'].sort_values()

0    2
4    2
3    3
1    4
5    4
2    6
Name: a, dtype: int64